/* Contacto */
.columna{
    width: 48%;
    box-sizing: border-box;
    padding: 0.6em;
    border: 1px solid gray;
    margin-bottom: 20px;
    background-color: rgb(233, 227, 240);

}
.columna.left{border-right: 1px solid gray;}
.columna.right p{font-size: 0.9em;}
.columna.right ul li{font-size: 0.8em; padding-bottom: 15px;}
.formulario label{vertical-align: top;
width: 20%;
display: inline-block;}
.formulario input, .formulario textarea{background-color:whitesmoke;
border-radius: 5px;
border: 1px solid #999;
padding: 0.4em 0.6em;
font-size: 0.8em;
width: 70%;}
.formulario input[type="submit"]{background-color: rgb(194, 178, 40);
box-shadow: 0 0 10px rgba (0,0,0,0.4);
color: white;
font-size: 1em;
width: auto;
cursor: pointer;}
.formulario textarea{height: 10em;
resize: none;}
.formulario .acciones{text-align: center;}

/* Fin de Contacto */