.holder{max-width: 960px ;
    margin: 0 auto;}
    h2{color: #110411 ;
    font-weight:400 ;
    margin:2em 0 1em ;}
    .left{
        float: left;
    }
    .right{float: right;}
    .floral{float: left;}
    .homeimg{margin-bottom: 1.5em;
    }
    .columnas{overflow: hidden;
    ;}
    .bienvenidos, .testimonios, .floral{box-sizing: border-box; display: inline-block; padding: 0.5em;}
    .testimonios{ margin-left: 0.7em;}
    .floral{width: 30%;margin-top: 4em;
        }
    .bienvenidos{width: 28%;
    padding: 0.5em; margin-left: 50px; color: #762179; font-size: 14px;}
    .testimonios{width: 32%; color: #762179;}
    .testimonio{background-color: rgb(223, 216, 160);
    padding: 1em;}
    .testimonio .cita{font-weight: normal;
    font-style: italic;
    font-size: 0.7em;
    display: block;}
    .testimonio .autor{font-size: 0.7em; text-align: center;
        margin: 2em 0;
        display: block;
    }
    .testimonios .right{ margin-top: 1.5em;}


    .galeria .foto{float:left;

        width: 40%;
        margin: 1em 0 1em 2.5%;
        border: 1px solid #ddd;
        padding: 0.3em;
        box-sizing: border-box;}
        .galeria .foto img{width: 100%;
        display:inline-block;}
        .galeria .foto:nth-child(5n+1){margin-left: 0;}
        .galeria .foto:nth-child(1){background-color:rgb(56, 88, 60); width: 35%;}
        .galeria .foto:nth-child(2){background-color:rgb(221, 101, 21); margin-bottom: 120px;width: 50%;}


        

